<div class="dam-ftp-account-info">
  <ul>
    <li><label for="ftp-server">{{ 'Server' | t }}</label> {{ server }} </li>
    <li><label for="ftp-port">{{ 'Port' | t }}</label> {{ port }} </li>
    <li><label for="ftp-user">{{ 'Username' | t }}</label> {{ username }}</li>
    <li><label for="ftp-password">{{ 'Password' | t }}</label> {{ password }}</li>
  </ul>
</div>
